In [1]:
import csv

file_path = 'life-expectancy.csv'

import pandas as pd

In [5]:
# Import pandas
import pandas as pd

# reading csv file 
data = pd.read_csv("life-expectancy.csv")
print(df.head())

                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                            Indicator Name  Indicator Code       1960  \
0  Life expectancy at birth, total (years)  SP.DYN.LE00.IN  64.152000
1  Life expectancy at birth, total (years)  SP.DYN.LE00.IN  44.085552
2  Life expectancy at birth, total (years)  SP.DYN.LE00.IN  32.535000
3  Life expectancy at birth, total (years)  SP.DYN.LE00.IN  37.845152
4  Life expectancy at birth, total (years)  SP.DYN.LE00.IN  38.211000

        1961       1962       1963       1964       1965  ...       2014  \
0  64.537000  64.752000  65.132000  65.294000  65.502000  ...  75.601000
1  44.386697  44.752182  44.913159  45.479043  45.498338  ...  61.337917
2  33.068000  33.547000  34.016000  34.494000  34.953000  ...  62.545000
3  38.164950  38.735102  39.063715  39.335360  39.618038  ...  55.922229
4  37.267000  37.539000  37.824000  38.131000  38.495000  ...  60.040000

        2015       2016       2017       2018       2019       2020  \
0  75.683000  75.617000  75.903000  76.072000  76.248000  75.723000
1  61.856458  62.444050  62.922390  63.365863  63.755678  63.313860
2  62.659000  63.136000  63.016000  63.081000  63.565000  62.575000
3  56.195872  56.581678  56.888446  57.189139  57.555796  57.226373
4  60.655000  61.092000  61.680000  62.144000  62.448000  62.261000

        2021  2022  Unnamed: 67
0  74.626000   NaN          NaN
1  62.454590   NaN          NaN
2  61.982000   NaN          NaN
3  56.988657   NaN          NaN
4  61.643000   NaN          NaN

[5 rows x 68 columns]

In [16]:
import pandas as pd

# Assuming 'data' is your DataFrame with countries in rows and years in columns

# Melt the DataFrame to transform years into rows for each country
melted_data = pd.melt(data, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
                      var_name='Year', value_name='Life Expectancy')

# Display the first few rows of the melted DataFrame
melted_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Life Expectancy
0,Aruba,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,64.152000
1,Africa Eastern and Southern,AFE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,44.085552
2,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,32.535000
3,Africa Western and Central,AFW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,37.845152
4,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,1960,38.211000

In [13]:
# Define the output file name
output_file = 'life-expectancy_modified.csv'
melted_data.to_csv(output_file, index=False)